/* Event Bubbling */

/* .box{
    height: 300px;
    width: 600px;
    background-color: pink;
}

ul{
    background-color: blue;
}

li{
    background-color: rgb(109, 180, 109);
} */

/* .delete{
    margin-left: 30px;
} */