#container{
    height:300px;
    width:80%;
    background-color: azure;
    margin:10px auto;
    border : 2px solid black;
    display:flex;
    /* coloum is top to bottom */
    flex-direction:column; 
    /* row is left to right */
    flex-direction:row;
     /* row reverse right to left */
    flex-direction:row-reverse; 
    /* coloum reverse bottom to top */
    flex-direction:column-reverse; 

}
h1{
    text-align: center;
}
#container div{
    height:100px;
    width:100px;
    color:white;
    text-align: center;
    font: size 1.5em;
}